.tombraider {
  background-image: url(./img/tombraider.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.tombraider .ranking {
  padding-top: 200px;
}

.tombraider .ranking>.mark {
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  height: 70px;
  width: 70px;

  line-height: 70px;
  font-size: 30px;
  font-weight: 900;

  color: #AFC5DA;
  background-color: white;
}

.tombraider .ranking>.comment {
  display: inline-block;
  vertical-align: middle;

  padding: 0px 20px;
}

.tombraider .ranking>.comment>.comment-text1 {
  color: #AFC5DA;

}

.tombraider .ranking>.comment>.comment-text2 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.tombraider .order {
  padding-top: 40px;
}

.tombraider .order .plus {
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  height: 70px;
  width: 70px;

  line-height: 70px;
  font-size: 40px;

  color: white;
  background-color: #AFC5DA;

  transition: background-color 0.3s;
}

.tombraider .order .plus:hover {
  color: #AFC5DA;
  background-color: white;
}

.tombraider .order>.price {
  display: inline-block;
  vertical-align: middle;

  padding: 0px 20px;
}

.tombraider .order>.price>.price-text1 {
  color: #AFC5DA;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.tombraider .order>.price>.price-text2 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.tombraider .game-name {
  white-space: nowrap;

  padding-top: 80px;
  padding-bottom: 120px;

  font-family: "Montserrat", Sans-serif;
  font-size: 130px;
  font-weight: 1000;
}

.tombraider .game-name>.p1 {
  padding: 0;

  margin: 0;
  margin-left: -8px;
}

.tombraider .game-name>.p2 {
  padding: 0;
  margin: 0;

  line-height: 90%;

  font-size: 80px;
  font-weight: 1000;
}

.tombraider .reviews {
  margin-top: 80px;
}

.tombraider .review {
  padding: 20px 0px;
}

.tombraider .review>.reviewer {
  padding: 10px 0px;

  font-weight: bold;
}

.tombraider .review>.reviewer>.fa-square {
  padding-right: 10px;

  color: #AFC5DA;
}

.tombraider .slider {
  white-space: nowrap;

  margin-top: 30px;

  font-size: 12px;
}

.tombraider .slider>.slider-circles {
  display: inline-block;

  width: 50%;
}

.tombraider .slider>.slider-circles>* {
  display: inline-block;

  vertical-align: middle;

  padding: 0px 10px;

  color: white;
}

.tombraider .slider>.slider-circles>.fa-dot-circle-o {
  font-size: 35px;
}

.tombraider .slider>.slider-buttons {
  display: inline-block;

  padding-left: 30px;

  width: 50%;
}

.tombraider .slider>.slider-buttons>* {
  display: inline-block;

  box-sizing: border-box;

  vertical-align: middle;
  text-align: center;

  padding: 11px 0px;
  margin: 0px 10px;

  height: 50px;
  width: 50px;

  border: 1px solid white;
  border-radius: 90%;

  transition: background-color 0.3s;
}

.tombraider .slider>.slider-buttons>*:hover {
  background-color: white;
  color: black;
}

.tombraider .slider>.slider-buttons>*>* {
  font-size: 25px;
}

.tombraider .game-trailer {
  margin-top: 50px;
  text-align: center;
}

.tombraider .game-trailer>.game-trailer-text {
  text-align: right;
  font-family: "Montserrat", Sans-serif;
  font-size: 40px;
  font-weight: 1000;
}

.tombraider .game-trailer>.game-trailer-video {
  display: inline-block;
  margin-top: 30px;
  border: 1px solid white;
  height: 200px;
  width: 300px;
}