body {
  padding: 0;
  margin: 0;

  font-family: 'Lato', sans-serif;

  background-color: rgb(0, 105, 190);
}

.header {
  width: 100%;

  display: table;
  box-sizing: border-box;

  height: 75px;

  border-bottom: 1px solid white;
}

.logo {
  width: 15%;

  display: table-cell;

  vertical-align: middle;
  text-align: center;
}

.logo>img {
  height: 50px;
  cursor: pointer;
}

.menu-button {
  width: 10%;

  display: table-cell;

  vertical-align: middle;
  text-align: center;
}

.menu-button>.icon-wrapper {
  width: 25%;

  display: inline-block;

  vertical-align: middle;
  text-align: center;
}

.menu-button>.icon-wrapper .icon {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 3px;
}

.playstation-buttons {
  width: 40%;

  display: table-cell;

  vertical-align: middle;
  text-align: center;

  white-space: nowrap;

  font-family: 'Lato', sans-serif;
}

.playstation-buttons>a {
  text-decoration: none;
}

.playstation-buttons>.playstation-button {
  width: 25%;

  display: inline-block;

  line-height: 75px;

  color: white;
  font-size: large;

  transition: background-color 0.3s;
}

.playstation-buttons>.playstation-button:hover {
  background-color: white;
  color: rgb(0, 105, 190);
}

.search {
  width: 25%;

  display: table-cell;

  vertical-align: middle;
  text-align: center;

  color: white;
  font-family: 'Lato', sans-serif;
  font-size: large;
}

.search>a {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: large;

  text-decoration: none;
}

.search>a>* {
  display: inline-block;
  padding: 0px 5px;
}

.page {
  height: calc(100vh - 76px);
}