@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

body {
  background-image: url('../sclassic.png');
}

.container {
  max-width: 1600px;
  width: 100%;
  
  text-align: center;

  display: block;

  margin: 0 auto;
}

h1 {
  color: white;

  font-size: 50px;
  font-family: 'Lato', sans-serif;
}

p {
  color: white;

  font-size: 20px;
  font-family: 'Lato', sans-serif;
}