@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

body {
  background-image: url(../hitsbackground.jpg);
  background-repeat: no-repeat;
}

.container {
  max-width: 1600px;
  width: 100%;

  text-align: center;

  display: block;

  margin: 0 auto;
}

.playstation-hits-header {
  padding: 50px 0px;
}

.playstation-hits-header>h1 {
  color: white;

  font-family: "Montserrat", Sans-serif;
  font-size: 80px;
  font-weight: 1000;
}

.playstation-hits-header>.line {
  display: inline-block;

  width: 50%;

  border: 1px solid white;
}

.playstation-hits-text {
  color: white;

  font-family: 'Lato', sans-serif;

  font-size: 20px;
}

.games {
  display: table;

  width: 100%;

  margin-top: 50px;
}

.games>.game {
  display: table-cell;
  vertical-align: middle;
}

.games>.game>.image-wrapper {
  position: relative;

  width: 100%;
  min-height: 310px;
  
  overflow: hidden;
}

.games>.game>.image-wrapper>img {
  position: absolute;

  max-height: 100%;
  max-width: 100%;

  left: 0px;
  bottom: 0px;
}