@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

body {
  background-image: url('../img/playstationPlusBackground.png');
  background-repeat: no-repeat;
}

.container {
  max-width: 1600px;
  width: 100%;

  text-align: center;

  display: block;

  margin: 0 auto;
}

.image-wrapper {
  position: relative;
  
  margin-top: 200px;

  width: 100%;
  min-height: 100px;
  
  overflow: hidden;
}

.image-wrapper>img {
  position: absolute;

  max-height: 100%;
  max-width: 100%;

  left: 0px;
  bottom: 0px;
}

.text {
  margin-top: 25px;

  text-align: left;

  color: white;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
}