@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
@import './games/tombraider.css';
@import './games/doom.css';
@import './games/nier.css';
@import './games/rdr.css';

body {
  padding: 0;
  margin: 0;

  font-family: 'Lato', sans-serif;

  background-color: rgb(0, 105, 190);
}

.container {
  max-width: 1600px;
  width: 100%;
  height: 100vh;

  text-align: left;

  display: block;

  margin: 0 auto;
}

.container>.row {
  white-space: nowrap;
  color: white;
}

.container>.row>.left {
  white-space: normal;

  display: inline-block;
  vertical-align: middle;

  width: 75%;
}

.container>.row>.right {
  white-space: normal;

  display: inline-block;
  vertical-align: middle;

  width: 20%;
}

.games {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  align-items: flex-start;
  transition: transform 1s ease;
}

.slider-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  height: 100%;
  max-width: 100%;
}